{% extends 'layout.html' %}
{% block layout_content %}

{% block sidebar %}
{% load sitetree %}
    <div class="navbar-default sidebar" role="navigation" style="margin-top: 0px;">
        <div class="sidebar-nav navbar-collapse">
        {% sitetree_menu from "main" include "this-ancestor-children" template "sitetree/nav-menu.html" %}
        </div>
    </div>
{% endblock %}
    <div id="page-wrapper"{% if is_popup %} style="margin:0px"{% endif %}>

        {% if not is_popup %}
        <div class="row">
            <div class="breakcrombs">
            {% sitetree_breadcrumbs from "main" template "sitetree/breadcrumbs_bootstrap3.html" %}	
            </div>
        </div>
        {% endif %}


        {% block messages %}
        {% if messages %}
        {% for message in messages %}
        <div class="alert alert-dismissable{% if message.tags %} {% if message.tags == 'error' %}alert-danger{% else %}alert-{{ message.tags }}{% endif %}{% endif %}">
            {{ message|safe }}
        </div>
        {% endfor %}
        {% endif %}
        {% endblock messages %}
        <!-- Content -->
        <div id="content" class="{% block coltype %}colM{% endblock %}">
        {% block content %}
            <div class="row">
                <div class="col-md-6 col-sm-12">
                {% block content-title %}{% if title %}<h1>{{ title }}</h1>{% endif %}{% endblock %}
                </div>
                <div class="col-md-6 col-sm-12 text-right">
                {% block actions-buttons %}{% endblock %}
                </div>
            </div>
        {% endblock %}
        </div>
    </div>
{% endblock %}