{% extends 'base.html' %}
{% load bootstrap3 %}

{% block content-title %}
<h1>Distribuir trabalhos</h1>
{% endblock %}

{% block actions-buttons %}
<a href="{% url 'ciclo:gerenciar' %}" class="btn btn-default">Conclu&iacute;do</a>
{% endblock %}

{% block content %}
{{ block.super }}
<div class="row">
    <div class="col-md-12">
        <table class="table">
        <thead>
            <th class="col-md-2">Agente</th>
            <th>Quadras</th>
            <th class="col-md-1">Im&oacute;veis</th>
            <th class="col-md-2">A&ccedil;&otilde;es</th>
        </thead>
        <tbody>
        {% for agente in agentes %}
            <tr{% ifequal agente.pk|stringformat:"s" request.GET.agente %} class="active"{% endifequal %}>
                <td>{{ agente.nome }}</td>
                <td>
                {% if request.GET.agente and request.GET.agente == agente.id %}
                    <div class="row">
                    {% regroup agente.trabalhos.all by quadra.bairro.nome as quadras_por_bairro %}
                    {% for bairro in quadras_por_bairro %}
                        <div class="col-md-3">
                            {{ bairro.grouper }}
                        </div>
                        <div class="col-md-9">
                            {% for t in bairro.list %}
                            <div class="quadra">
                                {{ t.quadra.numero }}&nbsp;
                                <a href="{% url 'ciclo:remover_trabalho' t.id %}" class="close" aria-label="Remover"><span aria-hidden="true">&times;</span></a>
                            </div>
                            {% endfor %}                            
                        </div>
                    {% endfor %}
                    </div>
                    <form class="form-inline" method="post" action="">{% csrf_token %}
                        {% bootstrap_form form %}
                        <button class="btn btn-primary" type="submit">Adicionar</button>
                    </form>
                {% else %}
                {% regroup agente.trabalhos.all by quadra.bairro.nome as quadras_por_bairro %}
                {% for bairro in quadras_por_bairro %}
                    {{ bairro.grouper }}:
                    {% for t in bairro.list %}
                    {{ t.quadra.numero }}
                    {% endfor %}
                    <br/>
                {% endfor %}
                {% endif %}
                </td>
                <td>{{ agente.total_imoveis }}</td>
                <td><a href="{% url 'ciclo:distribuir_trabalhos' agente.pk %}">Selecionar quadras</a></td>
            </tr>
        {% endfor %}
        </tbody>
        </table>
    </div>
</div>
{% endblock %}
{% block extrahead %}
<style type="text/css">
ul#id_quadras, ul#id_quadras ul, ul#id_quadras li {
    list-style: none;
    padding-left: 0px;
}
ul#id_quadras li {
    display: inline-block;
}
.quadra {
    display: inline-block;
    border: 1px solid #aaaaaa;
    border-radius: 3px;
    padding: 3px 8px 3px 8px;
    /*
    margin: 3px 0 3px 5px;
    position: relative;
    line-height: 13px;
    color: #333;
    cursor: default;
    border: 1px solid #aaaaaa;
    border-radius: 3px;*/
}
</style>
{% endblock %}
{% block extrascript %}
<script type="text/javascript" src="{{ STATIC_URL }}checkbutton/checkbutton.js"></script>
<script type="text/javascript">
    //checkButton("#id_quadras label", "btn btn-default", "active")
</script>
{% endblock %}