{% extends 'base.html' %}
{% load bootstrap3 %}
{% block breadcrumbs %}
    <ol class="breadcrumb">
        <li><a href="{% url 'home' %}"><i class="fa fa-home"></i> Início</a></li>
        <li class="active">Gerenciamento de ciclo</li>
    </ol>
{% endblock %}

{% block content-title %}
<h1>Gerenciar ciclo <small>{{ ciclo_atual|default:'' }}</small></h1>
{% endblock %}

{% block actions-buttons %}
{% if not ciclo_atual or ciclo_atual.fechado_em %}
<a class="btn btn-primary" href="{% url 'ciclo:iniciar' %}">Iniciar ciclo</a>
{% else %}
<a class="btn btn-default" href="{% url 'ciclo:distribuir_trabalhos' %}">Distribuir trabalhos</a>
<a class="btn btn-primary" href="{% url 'ciclo:encerrar' %}">Encerrar ciclo</a>
{% endif %}
{% endblock %}

{% block content %}
{{ block.super }}
<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">Trabalhos</h3>
    </div>
    <table class="table table-hover">
    <thead>
        <th>Agente</th>
        <th>Total de Imóveis</th>
        <th>Imóveis visitados</th>
        <th>Progresso</th>
    </thead>
    <tbody>
    {% for agente in agentes %}
        <tr{% ifequal agente.pk|stringformat:"s" request.GET.agente %} class="warning"{% endifequal %}>
            <td>{{ agente.get_full_name }}</td>
            <td>{{ agente.total_imoveis }}</td>
            <td>{{ agente.total_visitas }}</td>
            <td>
                <div class="progress">
                    <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="{{ agente.percentual }}" aria-valuemin="0" aria-valuemax="100" style="width: {{ agente.percentual }}%;">
                        {{ agente.percentual }}%
                    </div>
                </div>
            </td>
        </tr>
    {% endfor %}
    </tbody>
    </table>
</div>
{% endblock %}
{% block extrahead %}
<style type="text/css">
.progress {
    margin-bottom: auto;
}
</style>
{% endblock %}