{% load bootstrap3 %}
<fieldset class="panel panel-default {{ fieldset.classes }} form-horizontal">
    {% if fieldset.name %}
        <div class="panel-heading">
            <div class="panel-title">{{ fieldset.name }}</div>
        </div>
    {% endif %}
    <div class="panel-body">
    {% if fieldset.description %}
        <div class="description">{{ fieldset.description|safe }}</div>
    {% endif %}
    {% for line in fieldset %}
        <div>
            {% for field in line %}
                {% if field.is_readonly %}
                <div class="form-group">
                    <label class="col-md-2 control-label" for="id_numero">Número</label>
                    <div class="col-md-4">
                        <p class="form-control-static">{{ field.contents }}</p>
                    </div>
                </div>
                {% else %}
                    {% bootstrap_field field.field layout='horizontal' %}
                {% endif %}
            {% endfor %}
        </div>
    {% endfor %}
    </div>
</fieldset>