{% extends 'base.html' %}
{% load bootstrap3 object_urls %}
{% block breadcrumbs %}
    <ol class="breadcrumb">
        <li><a href="/"><i class="fa fa-home"></i> Início</a></li>
        <li><a href="{% object_listar object_class %}">{{ title }}</a></li>
{% if object %}
        <li><a href="{% object_detalhes object %}">{{ object }}</a></li>
        <li class="active">Editar</li>
{% else %}
        <li class="active">Adicionar</li>
{% endif %}
    </ol>
{% endblock %}

{% block content-title %}
{% if object %}
<h1>Editar {{ title }} <small>{{ object }}</small></h1>
{% else %}
<h1>Adicionar {{ title }}</h1>
{% endif %}
{% endblock %}

{% block actions-buttons %}
<button class="btn btn-primary" type="submit">Salvar</button>
{% endblock %}

{% block content %}
<form method="post" class="form-horizontal">{% csrf_token %}
{{ block.super }}
<div class="panel panel-default">
    <div class="panel-body">
    {% bootstrap_form form layout='horizontal' %}
    </div>
</div>
</form>
{% endblock %}