{% extends 'base.html' %}
{% load bootstrap3 object_urls %}
{% block breadcrumbs %}
    <ol class="breadcrumb">
        <li><a href="/"><i class="fa fa-home"></i> Início</a></li>
        <li><a href="{% object_listar object_class %}">{{ title }}</a></li>
        <li class="active">{{ object }}</li>
    </ol>
{% endblock %}

{% block content-title %}
<h1>Detalhes de {{ title }} <small>{{ object }}</small></h1>
{% endblock %}

{% block actions-buttons %}
<a class="btn btn-primary" href="{% object_editar object %}">Editar</a>
<div class="btn-group">
    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">Ações <span class="caret"></span></button>
    <ul class="dropdown-menu dropdown-menu-right" role="menu">
    <li><a href="{% object_excluir object %}">Excluir</a></li>
    </ul>
</div>
{% endblock %}
