{% extends 'base.html' %}
{% load bootstrap3 object_urls %}
{% block breadcrumbs %}
<ol class="breadcrumb">
    <li><a href="/"><i class="fa fa-home"></i> Início</a></li>
    <li><a href="{% object_listar object_class %}">Bairros</a></li>
    <li><a href="{% object_detalhes object %}">{{ object }}</a></li>
    <li class="active">Excluir</li>
</ol>
{% endblock %}

{% block content %}
<form method="post">{% csrf_token %}
<div class="panel panel-danger">
    <div class="panel-heading">
        Excluir {{ title }}
    </div>
    <div class="panel-body">
        <p>Deseja realmente excluir o {{ title }} <strong>{{ object }}</strong>?</p>
    </div>
    <div class="panel-footer">
        <a class="btn btn-default" href="{% object_detalhes object %}">Cancelar</a>
        <button class="btn btn-danger pull-right" type="submit">Excluir {{ title }}</button>
    </div>
</div>
</form>
{% endblock %}