  <div class="row">
    <div class="col-lg-12">
      <h1>Cadastrar <small>Imovel</small></h1>
      <ol class="breadcrumb">
        <li><a href="index.html"><i class="fa fa-home"></i> Início</a></li>
        <li class="active"><i class="fa fa-edit"></i> Cadastrar Imovel</li>
      </ol>          
    </div>
  </div><!-- /.row -->
  <div class="panel panel-default" ng-controller="Imovel_Cadastro_Ctrl">
    <div class="panel-body">
      <div class="row">
        <div class="col-lg-6">
           <div class="form-group">
          <label>Ordem:</label>
            <input class="form-control" ng-model="imovel.ordem" placeholder="Informar Ordem do imóvel">
          </div>
         <div class="form-group">
          <label>Lado:</label>
              <select ng-model="imovel.lado" ng-options="lado.id as lado.numero for lado in lados" ></select>
          </div>  
          <div class="form-group">
            <label>Número:</label>
            <input class="form-control" ng-model="imovel.numero" placeholder="Informar Número do imóvel">
          </div>
           <div class="form-group">
            <label>Tipo de Imóvel:</label>
            <select ng-model="imovel.tipo" ng-options="tipo.id as tipo.nome for tipo in tipos" ></select>
          </div>
          <div class="form-group">
            <label>Qtd. Habitantes:</label>
            <input class="form-control" ng-model="imovel.habitantes" placeholder="Informar Quantidade de Habitantes">
          </div>
          <div class="form-group">
            <label>Qtd. Cães:</label>
            <input class="form-control" ng-model="imovel.caes" placeholder="Informar Quantidade de Cães">
          </div>
          <div class="form-group">
            <label>Qtd. Gatos:</label>
            <input class="form-control" ng-model="imovel.gatos" placeholder="Informar Quantidade de Gatos">
          </div>
         
          <button type="submit" ng-click="saveImovel()" class="btn btn-outline btn-primary">Salvar</button>
          
        </div>
      </div>
    </div>
  </div>
