  <div class="row">
    <div class="col-lg-12">
      <h1>Editar <small>Quadra</small></h1>
      <ol class="breadcrumb">
        <li><a href="/"><i class="fa fa-home"></i> Início</a></li>
        <li class="active"><i class="fa fa-edit"></i> Editar Quadra</li>
      </ol>          
    </div>
  </div><!-- /.row -->
  <div class="panel panel-default" ng-controller="quadraEditCtrl">
    <div class="panel-body">
      <div class="row">
        <div class="col-lg-6">
          <form role="form">

           <div class="form-group">
             <label>Bairro:</label>
             <select ng-model="quadras.bairro" ng-options="bairro.id as bairro.nome for bairro in bairros" ></select>
          </div>

          <div class="form-group">
            <label>Numero:</label>
            <input class="form-control" ng-model="quadras.numero" width="10px">
          </div>

         

          <button type="submit" ng-click="updateQuadra()" class="btn btn-outline btn-primary">Salvar</button>
        </div>
      </div>
    </div>
  </div>
