  <div class="row">
    <div class="col-lg-12">
      <h1>Editar <small>Logradouro</small></h1>
      <ol class="breadcrumb">
        <li><a href="index.html"><i class="fa fa-home"></i> Início</a></li>
        <li class="active"><i class="fa fa-edit"></i> Editar Logradouro</li>
      </ol>          
    </div>
  </div><!-- /.row -->
  <div class="panel panel-default" ng-controller="logradouroEditCtrl">
    <div class="panel-body">
      <div class="row">
        <div class="col-lg-6">
          <form role="form">

           <div class="form-group">
            <label>Nome:</label>
           <input class="form-control" ng-model="logradouros.nome" placeholder="Informar o Nome do Logradouro">
          </div>
          <div class="form-group">
            <label>Cidade:</label>
            <select ng-model="logradouros.municipio" ng-options="municipio.id as municipio.nome for municipio in municipios" ></select>
          </div>
          <button type="submit" ng-click="updateLogradouro()" class="btn btn-outline btn-primary">Salvar</button>
        </div>
      </div>
    </div>
  </div>
