<script type="text/javascript">

$(document).ready(function(){
    $(".my-select").multiselectable({
        selectableLabel: "Quadras:",
        selectedLabel: "Selecionadas:",
        moveRightText: ">>",
        moveLeftText: "<<"
    });

    $("#selectBairro").change(function(){
      var indice = $('#selectBairro').val();
      indice++;
      $.get("/api/imoveis/quadra/?bairro="+ indice, function(data){
        $('#m-selectable').html("");
        //alert(data[0].numero)
        $.each(data, function(i, item){
          console.log(item)
          $('#m-selectable').append("<option value"+ item.id+">"+item.numero+"</option>");
        });
      });
    });
    
    var DAY = 1000*60*60*24;

    $.get("/api/trabalhos/ciclo/?last=true",function(data){
      var lastKey = Object.keys(data).sort().reverse()[0];
  
      var dataI = data[lastKey].data_inicio.toString().split('-');
      dataI = dataI[0]+"-"+dataI[1]+"-"+dataI[2];
      //console.log(data[lastKey]);
     // var inicio = Date.UTC(data1[0],data1[1], data1[2],0,0,0);
      var dataF = data[lastKey].data_fim.toString().split('-');
      dataF = dataF[0]+"-"+dataF[1]+"-"+dataF[2];

      var d1 = new Date(dataI);
      var d2 = new Date(dataF);


      var totalDias = Math.round((d2.getTime() - d1.getTime()) / DAY);

      alert("Total de Dias: " + totalDias);

      var dataAtual = new Date();

      alert((d2.getTime() - dataAtual.getTime()) / DAY)

      var diasRest = Math.round((d2.getTime() - dataAtual.getTime()) / DAY)+1;

      document.getElementById("progresso").innerHTML = diasRest;

      var porcentagem = (diasRest * 100)/totalDias;
      console.log("Porcentagem : " + porcentagem);

      //var fim = Date.UTC(data2[0],data2[1], data2[2],0,0,0);
      
      //var hoje = new Date();

      /*console.log(inicio)
      console.log(fim)
      console.log(data1)
      console.log(data2)
      var dif = fim - inicio;
      var totalDias = Math.abs((dif / 1000 / 60 / 60 / 24)
      var diasRest = diferencaDias(inicio, hoje);
      //porcentagem = (diasRest * 100)/totalDias;
      //console.log(hoje)
      console.log(totalDias);*/
    
    $(".progressbar").progressbar({
        value: porcentagem
      });

    });

/*function diferencaDias(data1, data2){
    var dif =
        Date.UTC(data1.getFullYear(),data1.getMonth(),data1.getDate(),0,0,0)
      - Date.UTC(data2.getFullYear(),data2.getMonth(),data2.getDate(),0,0,0);
    return Math.abs((dif / 1000 / 60 / 60 / 24));
  }*/


});

</script>

<style type="text/css">
.multiselectable { width:500px; display:block; overflow: hidden; width: 200%; }
.multiselectable select, .multiselectable div {width: 200px; float:left; }
.multiselectable div * { display: block; margin: 0 auto; }
.multiselectable div { display: inline; }
.multiselectable .m-selectable-controls { margin-top: 0.5em; width: 50px; }
.multiselectable .m-selectable-controls button { margin-top: 1em; }
</style>

<div id="page-wrapper col-lg-12">

    <div class="row">
        <div class="col-lg-12">
            <h1>Gerenciar <small>Ciclo</small></h1>
             <ol class="breadcrumb">
                <li><a href="/"><i class="fa fa-home"></i> Início</a></li>
                <li class="active"><i class="fa fa-edit"></i> Gerenciamento de Ciclo</li>
            </ol>
        </div>
    </div><!-- /.row -->

    <div class="row">
    	<div class="col-lg-12">
    		<div class="panel panel-default">
                <div class="panel-heading">
    				<h3 class="panel-title"><center>Dados do Ciclo Atual</center></h3>
    			 </div>

                 <div class="panel-body">
    		        <div id="morris-chart-donut"></div>
    				    <div class="text-right">
    					<center>
    						<div class="table-responsive">
    							<table class="table"  ng-controller="gerenciar_cicloCtrl">
    								<thead>
    									<tr>
    										<th>Data de Inicio</th>
    										<th>Data do Fim:</th>
    										<th>Número</th>
    										<th>Ano Base</th>
    									</tr>
    								</thead>
    								<tbody>
    									<tr ng-model="ciclo">
    										<td id="data_inicio">{{ciclo.data_inicio}}</td>
                        <td id="data_fim">{{ciclo.data_fim}}</td>
                        <td>{{ciclo.numero}}</td>
                        <td>{{ciclo.ano_base}}</td>
    									</tr>
    								</tbody>
    							</table>
    						</div>

                <div class="progress">  
                  <div class="progressbar">
                  </div>
                </div>

                <div style='float:right'>
                  <h5><p>Dias Restantes para finalizar o ciclo: 
                  <label id="progresso"></label></p></h5>
                </div>

              </center>
            </div>
         </div>

         
  </div>
</div>

    </div> <!--fIM DO rOW -->


    <div class="row"><center>
    	<div class="col-lg-12">
    		<div class="panel panel-default">
                <div class="panel-heading">
    				<h3 class="panel-title"><center>Selecionar Participantes do Ciclo</center></h3>
    			 </div>

                <div class="row">
                     <div class="col-lg-3 text-center">
                        <div class="panel-body">
                            <div class="form-group">
                                <label>Selecionar Agente:</label><br/>
                                <select ng-model="trabalho.agente" ng-options="agente.id as agente.nome for agente in agentes" ></select>
                          </div>
                         </div>
                     </div>

                     <div class="col-lg-3 text-center">
                        <div class="panel-body">
                            <div class="form-group">
                                <label>Bairro:</label><br/>
                                <select id="selectBairro" ng-model="trabalho.bairro" ng-options="bairro.id as bairro.nome for bairro in bairros" ></select>
                          </div>
                        </div>
                     </div>

                     <div class="col-lg-6 text-center">
                        <div class="panel-body">
                            <form role="form">
                              <div class="form-group expansible" >
                                <select multiple="multiple" class="my-select" name="my-select[]" >
                               </select>
                              </div>
	                        </form>
                        </div>
                     </div>

                </div><!-- /.row -->

                <div class="row">
                    <div class="col-lg-6 text-center">
                        <div class="panel-body">
                            <button type="submit" ng-click="#" class="btn btn-outline btn-primary">Adicionar Agente</button>
                         </div>
                     </div>
                     <div class="col-lg-6 text-center">
                        <div class="panel-body">
                            <button type="submit" ng-click="#" class="btn btn-outline btn-primary">Finalizar Ciclo</button>
                         </div>
                     </div>
                </div><!-- /.row -->

            </div>
         </div></center>
    </div> <!--fIM DO rOW -->
 </div>
