	<div class="row">
		<div class="col-lg-12">
			<h1>Listar Imóvel</h1>
			<ol class="breadcrumb">
				<li><a href="index.html"><i class="fa fa-home"></i> Início</a></li>
				<li class="active"><i class="fa fa-edit"></i> Lista Imóveis</li>
			</ol>          
		</div>
	</div><!-- /.row -->
	<div class="panel panel-default">
		<div class="panel-body">
			<div class="row">
				<div class="col-lg-12">
					<div class="panel panel-default">
						<div class="panel-heading">
							<h3 class="panel-title">Imóveis</h3>
						</div>
						<div class="panel-body">
							<div class="row">
								<div class="form-group col-lg-4">
									<label>Lado:</label>
									<input class="form-control" placeholder="Lado...">
								</div>
								<br/><button class="btn btn-outline btn-primary" data-toggle="modal" data-target="#myModal">Adcionar Imóveis</button>
								<a href="cadastrar_quadra.html"  class="btn btn-outline btn-primary">Salvar</a>
								<a href="cadastrar_quadra.html"  class="btn btn-default">Voltar</a>
							</div>
							<div class="table-responsive"> 
								<table class="table table-hover">
									<thead>
										<tr>
											<th>Lado</th>
											<th>Logradouro</th>
											<th>Número</th>
											<th>Sequência.:</th>
											<th>Tipo Imóvel</th>
											<th>Quant. Habitantes</th>
											<th>Quant. Cães</th>
											<th>Quant. Gatos</th>
										</tr>
									</thead>
									<tbody>
										<tr>
											<td>A1</td>
											<td>Rua José Pinheiro</td>
											<td>320</td>
											<td>123</td>
											<td>Nao Sei</td>
											<td>Casa</td>
											<td>2</td>
											<td>1</td>
										</tr>
										<tr>
											<td>A1</td>
											<td>Rua José Pinheiro</td>
											<td>320</td>
											<td>123</td>
											<td>Nao Sei</td>
											<td>Casa</td>
											<td>2</td>
											<td>1</td>
										</tr>
										<tr>
											<td>A1</td>
											<td>Rua José Pinheiro</td>
											<td>320</td>
											<td>123</td>
											<td>Nao Sei</td>
											<td>Casa</td>
											<td>2</td>
											<td>1</td>
										</tr>
										<tr>
											<td>A1</td>
											<td>Rua José Pinheiro</td>
											<td>320</td>
											<td>123</td>
											<td>Nao Sei</td>
											<td>Casa</td>
											<td>2</td>
											<td>1</td>
										</tr>
									</tbody>
								</table>
							</div>
						</div>
					</div>
				</div> <!-- Fim Row -->
			</div>	
		</div>
	</div>
</div>
<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
				<h1>Adcionando <small> Imóveis</small></h1>          
			</div>
			<div class="modal-body">

				<div class="panel-body">
					<div class="row">
						<div class="col-lg-6">

							<div class="form-group">
								<label>Logradouro:</label>
								<input class="form-control" placeholder="" width="10px">
							</div>

							<div class="form-group">
								<label>Número:</label>
								<input class="form-control" placeholder="">
							</div>
							<div class="form-group">
								<label>Sequência:</label>
								<input class="form-control" placeholder="">
							</div>

							<div class="form-group">
								<label>Tipo Imóvel:</label>
								<input class="form-control" placeholder="">
							</div>

							<div class="form-group">
								<label>Quantidade Habitantes:</label>
								<input class="form-control" placeholder="">
							</div>

							<div class="form-group">
								<label>Quantidade de Cães:</label>
								<input class="form-control" placeholder="">
							</div>

							<div class="form-group">
								<label>Quantidade de Gatos:</label>
								<input class="form-control" placeholder="">
							</div>
						</div>
					</div><!-- Fim Row -->
				</div>

			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
				<button type="button" class="btn btn-outline btn-primary">Salvar Imóveis</button>
			</div>
		</div>
	</div>