<!-- Cabeçalho Conteudo Início -->

<div id="page-wrapper col-lg-12">

  <div class="col-lg-12">
      <h1>Cadastrar <small>Ciclo</small></h1>
      <ol class="breadcrumb">
        <li><a href="index.html"><i class="fa fa-home"></i> Início</a></li>
        <li class="active"><i class="fa fa-edit"></i> Cadastrar Ciclo</li>
      </ol>          
    </div>
  </div><!-- /.row -->


  <div class="panel panel-default">
    <div class="panel-body">
     <div class="row">
       <div class="col-lg-6">

        <div class="form-group">
          <label>Data Inicial:</label>
          <input type="date" class="form-control" placeholder="Data Inicial..." width="10px">
        </div>

        <div class="form-group">
          <label>Data Final:</label>
          <input type="date" class="form-control" placeholder="Data Final...">
        </div>

        <div class="form-group input-append date">
          <label>Ano Base:</label>
          <input data-format="yyyy"  class="form-control" placeholder="Ano Base...">
        </div>

        <button type="submit"  class="btn btn-default">Cadastrar Ciclo</button>

      </div>
    </div><!-- Fim Row -->
  </div>
</div>
</div>