<div class="row">
    <div class="col-lg-12">
      <h1>Listar <small>Bairros</small></h1>
      <ol class="breadcrumb">
        <li><a href="index.html"><i class="fa fa-home"></i> Início</a></li>
        <li class="active"><i class="fa fa-edit"></i> Listar Bairros</li>
      </ol>          
    </div>
  </div><!-- /.row -->
<div class="span6">
    <table class="table table-striped table-condensed">
        <thead>
        <tr>
            <th style="min-width: 80px;">Nome</th>
            <th style="min-width: 80px;">Cidade</th>
            <th style="width:20px;"> </th>
            <th style="width:20px;"> </th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="bairro in bairros">
            <td>{{ bairro.nome}}</td>
            <td>{{ bairro.municipio}}</td>
            <td><a ng-click="editBairro(bairro.id)" >edit</a></td>
            <td><a ng-click="deleteBairro(bairro.id)" >delete</a></td>
        </tr>
        </tbody>
    </table>
    <a ng-click="addBairro()" class="btn btn-small">Cadastrar Bairros</a>
</div>


