<div class="row">
    <div class="col-lg-12">
      <h1>Listar <small>Imovel</small></h1>
      <ol class="breadcrumb">
        <li><a href="index.html"><i class="fa fa-home"></i> Início</a></li>
        <li class="active"><i class="fa fa-edit"></i> Listar Imovel</li>
      </ol>          
    </div>
  </div><!-- /.row -->
<div class="span6">
    <table class="table table-striped table-condensed" ng-controller="ImovelCtrl">
        <thead>
        <tr>
            <th style="min-width: 80px;">Lado</th>
            <th style="min-width: 80px;">Numero</th>
            <th style="min-width: 80px;">Tipo de Imóvel</th>
            <th style="min-width: 80px;">Qtd Habitantes</th>
            <th style="min-width: 80px;">Qtd Cães</th>
            <th style="min-width: 80px;">Qtd Gatos</th>
            <th style="width:20px;"> </th>
            <th style="width:20px;"> </th>
        </tr>
        </thead>
        <tbody >
        <tr ng-repeat="imovel in imoveis">
            <td>{{ imovel.lado.numero}}</td>
            <td>{{ imovel.numero }}</td>
            <td>{{ imovel.tipo.nome}}</td>
            <td>{{ imovel.habitantes }}</td>
            <td>{{ imovel.caes }}</td>
            <td>{{ imovel.gatos }}</td>
            <td ><button  ng-click="editImovel($index)" class="btn btn-outline btn-primary">Editar</button></td>
            <td ><button  ng-click="excluir(imovel.id)" class="btn btn-default">Deletar</button></td>

        </tr>
        </tbody>
    </table>
    <button  ng-click="addImovel()" class="btn btn-outline btn-primary">Cadastrar Imovel</button></td>
</div>


