<!DOCTYPE html>
<html>

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>-- Login SIADE --</title>

    <!-- Core CSS - Include with every page -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="font-awesome/css/font-awesome.css" rel="stylesheet">

    <!-- SB Admin CSS - Include with every page -->
    <link href="css/sb-admin.css" rel="stylesheet">

</head>

<body>     

    <div class="container">
        <div class="row">

            <div class="col-md-4 col-md-offset-4">
                <div class="login-panel panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Login SIADE</h3>
                    </div>
                    <div class="panel-body">
                     <form class="form-login" role="form">
                        <h2 class="form-login-heading">Login</h2>
                        <input type="text" class="form-control" placeholder="Username" data-ng-model="loginData.userName" required autofocus>
                        <input type="password" class="form-control" placeholder="Password" data-ng-model="loginData.password" required>
                        <button class="btn btn-lg btn-info btn-block" type="submit" data-ng-click="login()">Login</button>
                        <div data-ng-hide="message == ''" class="alert alert-danger">
                            {{message}}
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Core Scripts - Include with every page -->
<script src="js/jquery-1.10.2.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/plugins/metisMenu/jquery.metisMenu.js"></script>

<!-- SB Admin Scripts - Include with every page -->
<script src="js/sb-admin.js"></script>

</body>

</html>
