{% extends 'base_site.html' %}
{% load bootstrap3 %}
{% block main-content %}
<div class="row">
    <ol class="breadcrumb">
        <li><a href="/"><i class="fa fa-home"></i> Início</a></li>
        <li><a href="{% url 'agente-listar' %}">Agentes</a></li>
{% if object %}
        <li><a href="{% url 'agente-detalhes' object.id %}">{{ object }}</a></li>
        <li class="active">Editar</li>
{% else %}
        <li class="active">Adicionar</li>
{% endif %}
    </ol>
</div>
<form method="post" class="form-horizontal">{% csrf_token %}
<div class="pull-right">
    <button class="btn btn-success" type="submit">Salvar</button>
</div>
{% if object %}
<h1>Editar agente <small>{{ object }}</small></h1>
{% else %}
<h1>Adicionar agente</h1>
{% endif %}
<div class="panel panel-default">
    <div class="panel-body">
    {% bootstrap_form form layout='horizontal' %}
    </div>
</div>
</form>
{% endblock %}