{% extends 'crud/object_detail.html' %}
{% load object_urls %}
{% block actions-buttons %}
{% if perms.imoveis.change_quadra %}
<a class="btn btn-success" href="{% object_adicionar 'imoveis:quadra' object.id %}">Adicionar quadra</a>
{% endif %}
{{ block.super }}
{% endblock %}
{% block content %}
{{ block.super }}
<div class="panel panel-default">
    <div class="panel-body form-horizontal">
        <label class="col-md-2 control-label">Município</label>
        <div><p class="col-md-4 form-control-static">{{ object.municipio }}</p></div>
        <label class="col-md-2 control-label">Codigo</label>
        <div><p class="col-md-4 form-control-static">{{ object.codigo|default:'&nbsp;' }}</p></div>
    </div>
</div>
<h3>Quadras</h3>
<div class="row">
{% for quadra in quadra_list %}
    <div class="col-xs-6 col-md-4">
        <div class="panel panel-default">
            <div class="panel-heading">
                <a class="btn btn-xs btn-default" href="{% object_editar quadra %}"  title="Detalhes" style="float: right;"><i class="fa fa-eye"></i> Editar</a>
                <div class="panel-title">
                <a class="btn btn-xs btn-default" href="{% object_detalhes quadra %}"  title="Detalhes" style="float: right;"><i class="fa fa-eye"></i> Detalhes</a>
                <div class="panel-title">
                Quadra {{ quadra.numero }}
                </div>
            </div>
                <ul class="list-group">

                    <li class="list-group-item">
                        <span class="pull-right text-muted small">{{ quadra.lados.count }}</span>
                        Lados
                    </li>
                    <li class="list-group-item">
                        <span class="pull-right text-muted small">{{ quadra.total_imoveis|default:0 }}</span>
                        Imóveis
                    </li>
                    <li class="list-group-item">
                        <span class="pull-right text-muted small">{{ quadra.total_caes|default:0 }}</span>
                        Cães
                    </li>
                    <li class="list-group-item">
                        <span class="pull-right text-muted small">{{ quadra.total_gatos|default:0 }}</span>
                        Gatos
                    </li>
                </ul>
        </div>
    </div>
    </div>
{% endfor %}
</div>
{% endblock %}