{% extends 'base_site.html' %}
{% load bootstrap3 %}
{% block main-content %}
<div class="row">
    <ol class="breadcrumb">
        <li><a href="/"><i class="fa fa-home"></i> Início</a></li>
        <li><a href="{% url 'bairro-listar' %}">Bairros</a></li>
        <li><a href="{% url 'bairro-detalhes' object.id %}">{{ object }}</a></li>
        <li class="active">Excluir</li>
    </ol>
</div>
<form method="post">{% csrf_token %}
<div class="panel panel-danger">
    <div class="panel-heading">
        Excluir bairro
    </div>
    <div class="panel-body">
        <p>Deseja realmente excluir o bairro <strong>{{ object }}</strong>?</p>
    </div>
    <div class="panel-footer">
    	<a class="btn btn-default" href="{% url 'bairro-detalhes' object.id %}">Cancelar</a>
    	<button class="btn btn-danger pull-right" type="submit">Excluir bairro</button>
    </div>
</div>
</form>
{% endblock %}