{% extends 'crud/object_list.html' %}
{% load object_urls %}
{% block content %}
{{ block.super }}
<table class="table table-striped">
    <thead>
    <tr>
        <th>Nome</th>
        <th>Municipio</th>
        <th class="col-sm-3">Ações</th>
    </tr>
    </thead>
    <tbody>
{% for object in object_list %}
        <tr>
            <td>{{ object.nome }}</a></td>
            <td>{{ object.municipio }}</td>
            <td>
                <a class="btn btn-sm btn-default" href="{% object_detalhes object %}" title="Detalhes"><i class="fa fa-eye"></i> Detalhes</a>
                <a class="btn btn-sm btn-default" href="{% object_editar object %}" title="Editar"><i class="fa fa-edit"></i> Editar</a>
                <a class="btn btn-sm btn-default" href="{% object_excluir object %}" title="Excluir"><i class="fa fa-trash-o fa-fw"></i> Excluir</a>
            </td>
        </tr>
{% endfor %}
    </tbody>
</table>
{% endblock %}