 {% extends 'crud/object_form.html' %}
{% load object_urls %}
{% block breadcrumbs %}
    <ol class="breadcrumb">
        <li><a href="/"><i class="fa fa-home"></i> Início</a></li>
        <li><a href="{% object_listar 'imoveis:bairro' %}">Bairro</a></li>
{% if object %}
        <li><a href="{% object_detalhes object.bairro %}">{{ object.bairro }}</a></li>
        <li><a href="{% object_detalhes object %}">Quadra #{{ object.numero }}</a></li>
        <li class="active">Editar</li>
{% else %}
		<li><a href="{% object_detalhes bairro %}">{{ bairro }}</a></li>
        <li class="active">Adicionar</li>
{% endif %}
    </ol>
{% endblock %}