{% extends 'base.html' %}
{% load bootstrap3 object_urls %}
{% block breadcrumbs %}
    <ol class="breadcrumb">
        <li><a href="/"><i class="fa fa-home"></i> Início</a></li>
        <li><a href="{% object_listar 'imoveis:bairro' %}">Bairro</a></li>
{% if object %}
        <li><a href="{% object_detalhes object.bairro %}">{{ object.bairro }}</a></li>
        <li><a href="{% object_detalhes object %}">Quadra #{{ object.numero }}</a></li>
        <li class="active">Editar</li>
{% else %}
        <li><a href="{% object_detalhes bairro %}">{{ bairro }}</a></li>
        <li class="active">Adicionar</li>
{% endif %}
    </ol>
{% endblock %}

{% block content-title %}
{% if object %}
<h1>Editar {{ title }} <small>{{ object }}</small></h1>
{% else %}
<h1>Adicionar {{ title }}</h1>
{% endif %}
{% endblock %}

{% block actions-buttons %}
<button class="btn btn-primary" type="submit">Salvar</button>
{% endblock %}

{% block content %}
<form method="post">{% csrf_token %}
{{ block.super }}
<div class="panel panel-default form-horizontal">
    <div class="panel-body">
    {% bootstrap_form form layout='horizontal' %}
    </div>
</div>
{% for inline in inlines %}
<div class="panel panel-default form-inline">
{{ inline.management_form }}
    <div class="panel-heading">
        <h3 class="panel-title">Lados</h3>
    </div>
    <div class="panel-body">
    {% for form in inline %}
        <div class="inline-form">
            {% bootstrap_form form layout='inline' %}
        </div>
    {% endfor %}
    </div>
</div>
{% endfor %}
</form>
{% endblock %}

{% block extrascript %}
<script type="text/javascript" src="{{ STATIC_URL }}js/jquery.formset.js"></script>
<script type="text/javascript">
$(".inline-form").formset({
    'prefix': 'lados',
    'showAddButton': true,
    'addCssClass': 'btn btn-primary',
    'addText': 'Adicionar lado',
    'deleteCssClass': 'btn btn-default',
    'deleteText': 'Remover'
})
</script>
{% endblock %}