{% extends 'base.html' %}
{% load bootstrap3 %}
{% block content %}
<form class="inline">
{% bootstrap_form form layout=inline %}
<button type="submit" class="btn btn-primary">Mostrar</button>
</form>
<table class="table">
	<tr>
		<td>Numero</td>
		<td>Imoveis</td>
		<td>Residencia</td>
		<td>Comercio</td>
		<td>Terreno</td>
		<td>Ponto estratégico</td>
		<td>Habitantes</td>
		<td>Cães</td>
		<td>Gatos</td>
	</tr>
{% for quadra in quadras %}
	<tr>
		<td>{{ quadra.numero }}</td>
		<td>{{ quadra.total_imoveis }}</td>
		<td></td>
		<td></td>
		<td></td>
		<td>{{ quadra.pe }}</td>
		<td>{{ quadra.habitantes }}</td>
		<td>{{ quadra.caes }}</td>
		<td>{{ quadra.gatos }}</td>
	</tr>
{% endfor %}
</table>
{% endblock %}