<!DOCTYPE html>
<html>
<head>
<title>Relatório diário</title>
<link href="{{ STATIC_URL }}css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
{% for visita in visitas_agentes %}
{% for visita2 in visita.bairros %}
	<div id="page-wrapper">
		 <div class="row">
			  <div class="col-lg-14 text-center">
				    <div class="panel panel-default">
					      <div class="panel-heading">
						<h3 class="panel-title"><center>Dados do Agente Selecionado</center></h3>
					      </div>
					      <div class="panel-body">
							<div id="morris-chart-donut"></div>
							<div class="text-right">
							<center>
							<div class="table">
							    <table class="table">
								<thead>
								    <tr>
									<th>Agente:</th>
									<th>Ciclo:</th>
									<th>Data:</th>
									<th>Bairro:</th>
									<th>Atividade:</th>
								     </tr>
								</thead>
								<tbody>	
									    <tr>
										<td>{{ visita.agente }}</td>
										<td>{{ visita.ciclo }}</td>
										<td>{{ visita.data }}</td>
										<td>{{ visita2.bairro }}</td>	
										<td>{{ visita.ciclo.get_atividade_display }}</td>
									    </tr>
								</tbody>
							    </table>
							</div><br/>



							<div class="row">
							  <div class="col-lg-14 text-center">
							    <div class="panel panel-default">
								<div class="panel-heading">
									<h3 class="panel-title"><center>Pesquisa Entomológica / Tratamento</center></h3>
					      			</div>
							      <div class="panel-body">
								<div id="morris-chart-donut"></div>
										<div class="text-right">
										<center>
										
											<div class="table">
											    <table class="table">
												<thead>
												    <tr>
												    <th>Quarteirão</th>
													<th>Lado:</th>
													<th>Logradouro:</th>
													<th>Nº Imóvel:</th>
													<th>Tipo:</th>
													<th>Visita:</th>
													<th>Pendência:</th>
													<th>Eliminado:</th>
													<th>Imóvel Tratado:</th>
													<th>Tipo de Larvicida:</th>
													<th>Qtd Larvicida:</th>
													<th>Qtd de Depósitos Tratados:</th>
												    </tr>
												</thead>
												<tbody>
											{% for visitas_do_agente in visita2.visitas %}
												   <tr>
													<td>{{ visitas_do_agente.imovel.lado.quadra }}</td>
													<td>{{ visitas_do_agente.imovel.lado }}</td>
													<td>{{ visitas_do_agente.imovel.lado.logradouro }}</td>
													<td>{{ visitas_do_agente.imovel.numero }}</td>
													<td>{{ visitas_do_agente.get_tipo_display }}</td>
													<td>{{ visitas_do_agente.visita }}</td>
													<td>{{ visitas_do_agente.get_pendencia_display }}</td>
													<td>{{ visitas_do_agente.depositos_eliminados|default:'0' }}</td>
													<td>{{ visitas_do_agente.imovel_tratado|default:'0' }}</td>
													<td>{{ visitas_do_agente.larvicida|default:'0' }}</td>
													<td>{{ visitas_do_agente.qtd_larvicida|default:'0' }}</td>
													<td>{{ visitas_do_agente.depositos_tratados|default:'0' }}</td>
												    </tr>
											{% endfor %}
												</tbody>
											    </table>
											</div>	 
										</center>
										</div>
							      </div>
							    </div>            
							  </div>
							</div>
							

							<!-- Fim da quinta tabela -->

							<!-- Fim Rows Interiores-->
							</center>
							</div>
					      </div>	
				      
			    </div>
		  </div><!-- /.row -->
</div>
{% endfor %}
{% endfor %}
</body>
</html>
