<!DOCTYPE html>
<html>
<head>
<title>Relatório diário</title>
<link href="{{ STATIC_URL }}css/bootstrap.min.css" rel="stylesheet">
<style type="text/css">
#page-wrapper {
  page-break-before: always;
}
</style>
</head>
<body>
{% regroup visitas by agente as visitas_por_agente %}
{% for visita_a in visitas_por_agente %}
{% regroup visita_a.list by imovel.lado.quadra.bairro as visitas_por_bairro %}
{% for visita_b in visitas_por_bairro %}
  <div id="page-wrapper">
     <div class="row">
        <div class="col-lg-12 text-center">
            <div class="panel panel-default">
                <div class="panel-heading">
                  <h3 class="panel-title"><center>Dados do Agente Selecionado</center></h3>
                </div>
                <div class="panel-body">
              <div id="morris-chart-donut"></div>
              <div class="text-right">
              <center>
              <div class="table">
                  <table class="table">
                <thead>
                    <tr>
                  <th>Agente:</th>
                  <th>Ciclo:</th>
                  <th>Data:</th>
                  <th>Bairro:</th>
                  <th>Atividade:</th>
                    </tr>
                </thead>
                <tbody> 
                    <tr>
                    <td>{{ visita_a.grouper }}</td>
                    <td>{{ visita_a.list.0.ciclo }}</td>
                    <td>{{ data }}</td>
                    <td>{{ visita_b.grouper }}</td> 
                    <td>{{ visita_a.list.0.ciclo.get_atividade_display }}</td>
                    </tr>
                </tbody>
                  </table>
              </div><br/>



              <div class="row">
                <div class="col-lg-14 text-center">
                  <div class="panel panel-default">
                <div class="panel-heading">
                  <h3 class="panel-title"><center>Pesquisa Entomológica / Tratamento</center></h3>
                      </div>
                    <div class="panel-body">
                <div id="morris-chart-donut"></div>
                    <div class="text-right">
                    <center>
                    
                      <div class="table">
                          <table class="table">
                        <thead>
                            <tr>
                              <th>Quarteirão</th>
                            <th>Lado</th>
                            <th>Logradouro</th>
                            <th>Nº Imóvel</th>
                            <th>Tipo</th>
                            <th>Pendência</th>
                            <th>Eliminado</th>
                            <th>Imóvel Tratado</th>
                            <th>Tipo de Larvicida</th>
                            <th>Qtd Larvicida</th>
                            <th>Qtd de Depósitos Tratados</th>
                            </tr>
                        </thead>
                        <tbody>
                      {% for visita in visita_b.list %}
                           <tr>
                          <td>{{ visita.imovel.lado.quadra.get_numero_display }}</td>
                          <td>{{ visita.imovel.lado.numero }}</td>
                          <td>{{ visita.imovel.lado.logradouro }}</td>
                          <td>{{ visita.imovel.numero|default:'S/N' }}</td>
                          <td>{{ visita.get_tipo_display }}</td>
                          <td>{{ visita.get_pendencia_display }}</td>
                          <td>{{ visita.depositos_eliminados|default:'0' }}</td>
                          <td>{{ visita.imovel_tratado|yesno:"Sim,Não" }}</td>
                          <td>{{ visita.larvicida|default:'0' }}</td>
                          <td>{{ visita.qtd_larvicida|default:'0' }}</td>
                          <td>{{ visita.depositos_tratados|default:'0' }}</td>
                            </tr>
                      {% endfor %}
                        </tbody>
                          </table>
                      </div>   
                    </center>
                    </div>
                    </div>
                  </div>            
                </div>
              </div>
              <!-- Fim da quinta tabela -->
              <!-- Fim Rows Interiores-->
              </center>
              </div>
                </div>  
              
          </div>
      </div><!-- /.row -->
</div>
{% endfor %}
{% endfor %}
</body>
</html>
