<!DOCTYPE html>
<html>
<head>
<title>Relatório diário</title>
<link href="{{ STATIC_URL }}css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
{% for visita in visitas_agentes %}
{% for visita2 in visita.bairros %}
	<div id="page-wrapper">
		 <div class="row">
			  <div class="col-lg-9 text-center">
				    <div class="panel panel-default">
					      <div class="panel-heading">
						<h3 class="panel-title"><center>Dados do Agente Selecionado</center></h3>
					      </div>
					      <div class="panel-body">
							<div id="morris-chart-donut"></div>
							<div class="text-right">
							<center>
							<div class="table">
							    <table class="table ">
								<thead>
								    <tr>
									<th>Agente:</th>
									<th>Ciclo:</th>
									<th>Data Início</th>
									<th>Data Final</th>
									<th>Semana:</th>
									<th>Bairro:</th>
									<th>Atividade:</th>
								    </tr>
								</thead>
								<tbody>
									    <tr>
										<td>{{ visita.agente }}</td>
										<td>{{ visita.ciclo }}</td>
										<td>{{ data_inicio }}</td>
										<td>{{ data_fim }}</td>
										<td>{{ request.POST.semana }}</td>
										<td>{{ visita2.bairro }}</td>										
										<td>{{ visita.ciclo.get_atividade_display }}</td>
									    </tr>
								</tbody>
							    </table>
							</div>

							<div class="row">
							  <div class="col-lg-12 text-center">
							    <div class="panel panel-default">
								<div class="panel-heading">
									<h3 class="panel-title"><center>Número de móveis trabalhados por tipo</center></h3>
					      			</div>
							      <div class="panel-body">
								<div id="morris-chart-donut"></div>
										<div class="text-right">
										<center>
											<div class="table">
											    <table class="table">
												<thead>
												    <tr>
												    <th>Quarteirões Concluidos</th>
													<th>Residência:</th>
													<th>Comércio:</th>
													<th>TB:</th>
													<th>PE:</th>
													<th>Outros:</th>
													<th>Total:</th>
													<th>Informados:</th>
												    </tr>
												</thead>
												<tbody>
												   <tr>
													<td>{{ visita2.num_quadra }}</td>
													<td>{{ visita2.num_residencia }}</td>
													<td>{{ visita2.num_comercio }}</td>
													<td>{{ visita2.num_TB }}</td>
													<td>{{ visita2.num_PE }}</td>
													<td>{{ visita2.num_outros }}</td>
													<td>{{ visita2.num_total }}</td>
													<td>{{ visita2.num_informados }}</td>
												    </tr>
												</tbody>
											    </table>
											</div>	 
										</center>
										</div>
							      </div>
							    </div>            
							  </div>
							</div>
							 
							<!-- Inicio Rows Interiores-->	

							<!-- Row interior primeira tabela -->

							 <div class="row">
							  <div class="col-lg-7 text-center">
							    <div class="panel panel-default">
								<div class="panel-heading">
									<h3 class="panel-title"><center>Número imóveis</center></h3>
					      			</div>
							      <div class="panel-body">
								<div id="morris-chart-donut"></div>
										<div class="text-right">
										<center>
											<div class="table">
											    <table class="table">
												<thead>
												    <tr>
													<th>Tratamento Focal:</th>
													<th>Tratamento Perifocal:</th>
													<th>Inspecionados:</th>
													<th>Amostras Coletadas:</th>
												     </tr>
												</thead>
												<tbody>
												   <tr>
													<td>3</td>
													<td>83</td>
													<td>3</td>
													<td>0</td>
												    </tr>
												</tbody>
											    </table>
											</div>	 
										</center>
										</div>
							      </div>
							    </div>            
							  </div><!-- /.row -->
							 
							  <div class="col-lg-5 text-center">
							    <div class="panel panel-default">
								<div class="panel-heading">
									<h3 class="panel-title"><center>Pendências</center></h3>
					      			</div>
							      <div class="panel-body">
								<div id="morris-chart-donut"></div>
										<div class="text-right">
										<center>
											<div class="table">
											    <table class="table">
												<thead>
												    <tr>
													<th>Recusados:</th>
													<th>Fechados:</th>
													<th>Recuperados:</th>
												     </tr>
												</thead>
												<tbody>
												   <tr>
													<td>{{ visita2.recusada }}</td>
													<td>{{ visita2.fechada }}</td>
													<td>{{ visita2.recuperada }}</td>
												   </tr>
												</tbody>
											    </table>
											</div>	 
										</center>
										</div>
							      </div>
							    </div>            
							  </div>
							</div><!-- /.row -- Fim da primeira tabela -->
							
							<!-- Inicio da Segunda tabela -->

							

							 <!--Inicio da terceira tabela -->
							 
							  

							<!-- Inicio da quarta tabela -->

							<div class="row">
							  <div class="col-lg-12 text-center">
							    <div class="panel panel-default">
								<div class="panel-heading">
									<h3 class="panel-title"><center>Informações de Tratamento com Larvicida</center></h3>
					      			</div>
							      <div class="panel-body">
								<div id="morris-chart-donut"></div>
										<div class="text-right">
										<center>
											<div class="table">
											    <table class="table">
												<thead>
												    <tr>
												    <th>Eliminados</th>
													<th>Tipo:</th>
													<th>Quantidade:</th>
													<th>Quantidade de Depósitos Tratados:</th>
												     </tr>
												</thead>
												<tbody>
												   <tr>
												   	<td>{{ visita2.eliminados|default:'0' }}</td>
													<td>{{ visita2.tipo_larvicida|default:'0' }}</td>
													<td>{{ visita2.qtd_larvicida|default:'0' }}</td>
													<td>{{ visita2.qtd_deposito_tratados|default:'0' }}</td>
												    </tr>
												</tbody>
											    </table>
											</div>	 
										</center>
										</div>
							      </div>
							    </div>            
							  </div><!-- /.row -->
							 
							 <!--  <div class="col-lg-5 text-center">
							    <div class="panel panel-default">
								<div class="panel-heading">
									<h3 class="panel-title"><center>Informações de produção</center></h3>
					      			</div>
							      <div class="panel-body">
								<div id="morris-chart-donut"></div>
										<div class="text-right">
										<center>
											<div class="table">
											    <table class="table">
												<thead>
												    <tr>
													<th>Redimento/Dia:</th>
													<th>Total de Agentes na Semana:</th>
													<th>Total de dias trabalhados na semana</th>
												     </tr>
												</thead>
												<tbody>
												   <tr>
													<td>3</td>
													<td>83</td>
													<td>83</td>
												    </tr>
												</tbody>
											    </table>
											</div>	 
										</center>
										</div>
							      </div>
							    </div>            
							  </div>
							</div>/.row -- Fim da primeira tabela -->


							<!-- Inicio da quinta tabela -->

							<div class="row">
							  <div class="col-lg-12 text-center">
							    <div class="panel panel-default">
							       <div class="panel-heading">
							       <h3 class="panel-title"><center>Números de depósitos inspecionados por tipo</center></h3>
					      		       </div>
							      <div class="panel-body">
								<div id="morris-chart-donut"></div>
										<div class="text-right">
										<center>
											<div class="table">
											    <table class="table">
												<thead>
												    <tr>
													<th>A1:</th>
													<th>A2:</th>
													<th>B:</th>
													<th>C:</th>
													<th>D1:</th>
													<th>D2:</th>
													<th>E:</th>
													<th>Amostra Inicial:</th>
													<th>Amostra Final:</th>
													<th>Tubitos:</th>
													<th>Total:</th>
												     </tr>
												</thead>
												<tbody>
												   <tr>
													<td>{{ visita2.a1|default:'0' }}</td>
													<td>{{ visita2.a2|default:'0' }}</td>
													<td>{{ visita2.b|default:'0' }}</td>
													<td>{{ visita2.c|default:'0' }}</td>
													<td>{{ visita2.d1|default:'0' }}</td>
													<td>{{ visita2.d2|default:'0' }}</td>
													<td>{{ visita2.e|default:'0' }}</td>
													<td>{{ visita2.amostra_inicial|default:'0' }}</td>
													<td>{{ visita2.amostra_final|default:'0' }}</td>
													<td>{{ visita2.tubitos|default:'0' }}</td>
													<td>#</td>
												    </tr>
												</tbody>
											    </table>
											</div>	 
										</center>
										</div>
							      </div>
							    </div>            
							  </div>
							</div><!-- /.row --> 

							<!-- Fim da quinta tabela -->

							<!-- Fim Rows Interiores-->
							</center>
							</div>
					      </div>	
				      
			    </div>
		  </div><!-- /.row -->
</div>
{% endfor %}
{% endfor %}
</body>
</html>
