{% load activelink %}
<div class="navbar-default sidebar" role="navigation">
    <div class="sidebar-nav navbar-collapse">
        <ul class="nav" id="side-menu">
            <li><a href="/">Inicio</a></li>
            <li><a href="{% url 'agente-listar' %}"{% ifactive 'agente-listar' %} class="active"{% endifactive %}> Agentes</a></li>
            <li{% ifstartswith '/imoveis' %} class="active"{% endifstartswith %}>
                <a href="#">Imoveis<span class="fa arrow"></span></a>
                <ul class="nav nav-second-level">
                    <li><a href="{% url 'bairro-listar' %}"{% ifactive 'bairro-listar' %} class="active"{% endifactive %}> Bairro</a></li>
                    <li><a href="{% url 'logradouro-listar' %}"{% ifactive 'logradouro-listar' %} class="active"{% endifactive %}> Logradouro</a></li>
{% if perms.imoveis.can_change_minicipio %}
                    <li><a href="{% url 'municipio-listar' %}"{% ifactive 'municipio-listar' %} class="active"{% endifactive %}> Municipio</a></li>
{% endif %}
{% if perms.imoveis.can_change_uf %}
                    <li><a href="{% url 'uf-listar' %}"{% ifactive 'uf-listar' %} class="active"{% endifactive %}> UF</a></li>
{% endif %}
                </ul>
                <!-- /.nav-second-level -->
            </li>
        </ul>
    </div>
    <!-- /.sidebar-collapse -->
</div>